<!DOCTYPE html>
<html>
<head>
    <title>books</title>
    <script>
        window.onload = function() {
            updateList();
        };
    </script> 
</head>
<body>
    <h1>Books</h1>

    <select id="tagSelect"> <!--onchange="updateList()">--!>
        <option value="none">-- tags --</option>
        {% for tag in tags %}
        <option value="{{ tag }}">{{ tag }}</option>
        {% endfor %}
    </select>

    <input type="text" id="titleSearch" placeholder="title">
    <input type="text" id="authorSearch" placeholder="author">
    <button type="button" onclick="updateList()">search</button>
    
    <ul id="itemList">

    </ul>
    
    <script>
        function updateList() {
            const list = document.getElementById('itemList');
            list.innerHTML = "loading...";

            const tag = document.getElementById("tagSelect").value;
            const title = document.getElementById("titleSearch").value;
            const author = document.getElementById("authorSearch").value;
            fetch("/data", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ tag: tag, author: author, title: title })
            })
            .then(response => response.json())
            .then(data => {
                const list = document.getElementById('itemList');
                list.innerHTML = "";
                data.forEach(item => {
                    const li = document.createElement("li");
                    const a = document.createElement("a");
                    a.href = `/retrieve?file=${item.id}`;
                    a.textContent = `${item.title} by ${item.author} (${item.year})`
                    li.appendChild(a);
                    list.appendChild(li);
                });
            })
            .catch(error => console.error("Error:", error));
        }
        //document.addEventListener("DOMContentLoaded", function() {
        //    document.getElementById("authorSearch").addEventListener("blur", function() { updateList() });
        //    document.getElementById("titleSearch").addEventListener("blur", function() { updateList() });
        //});
    </script>

</body>
</html>

